*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/test.png);
    background-position: center;
    background-size: cover;
    padding: 0.8%;
    position: relative;
}

.logo{
    width: 300px;
    padding: 20px 0;
    margin-top: 180px;
    transform: translate(59%);

}

.content{
    top: 50%;
    position: absolute;
    transform: translate(25%);
    color: #fff;
}

.content h1{
    font-size: 64px;
    font-weight: 600;

}

.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.content button img{
    width: 15px;
    margin-left: 10px;
}
  

  @media (min-width: 390px) and (max-width: 600px){
<<<<<<< HEAD

    .logo{
        width: 200px;
        padding: 20px 0;
        margin-top: 50px;
        transform: translate(2%);
    
    }

=======

    .logo{
        width: 200px;
        padding: 20px 0;
        margin-top: 50px;
        transform: translate(2%);
    
    }

>>>>>>> 29600e8113c2952d664c604210c5510403153d40
    .container{
        width: 100vw;
        height: 100vh;
        background-image: url(images/test.png);
        background-position: center;
        background-size: cover;
        padding: 0.8%;
    }
    
    .content{
        top: 50%;
        position: absolute;
        transform: translate(2%);
        margin-top: -100px;
        color: #fff;
    }
    
    .content h1{
        font-size: 25px;
        font-weight: 300;
    
    }
    
    .content button{
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        padding: 12px 25px;
        color: #fff;
        display: flex;
        align-items: center;
        margin-top: 30px;
        cursor: pointer;
    }
    
    .content button img{
        width: 15px;
        margin-left: 10px;
    }
  }

  @media screen and (max-width: 390px){

    .logo{
        width: 200px;
        padding: 20px 0;
        margin-top: 50px;
        transform: translate(2%);
    
    }

    .container{
        width: 100vw;
        height: 100vh;
        background-image: url(images/test.png);
        background-position: center;
        background-size: cover;
        padding: 0.8%;
    }
    
    .content{
        top: 50%;
        position: absolute;
        margin-top: -50px;
        transform: translate(2%);
        color: #fff;
    }
    
    .content h1{
        font-size: 25px;
        font-weight: 250;
    
    }
    
    .content button{
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        padding: 12px 25px;
        color: #fff;
        display: flex;
        align-items: center;
        margin-top: 30px;
        cursor: pointer;
    }
    
    .content button img{
        width: 15px;
        margin-left: 10px;
    }
  }
  
    
<<<<<<< HEAD
  @media (min-width: 601px) and (max-width: 1450px) {
=======
  @media (min-width: 829px) and (max-width: 1440px) {
>>>>>>> 29600e8113c2952d664c604210c5510403153d40
    
    .logo{
        width: 250px;
        padding: 20px 0;
<<<<<<< HEAD
        margin-top: 100;
=======
        margin-top: 140px;
>>>>>>> 29600e8113c2952d664c604210c5510403153d40
        transform: translate(15%);
    
    }
    
    .content{
        top: 50%;
        position: absolute;
        transform: translate(5%);
        color: #fff;
    }
    
    .content h1{
        font-size: 50px;
        font-weight: 600;
    
    }
    
    
    .content button{
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        padding: 12px 25px;
        color: #fff;
        display: flex;
        align-items: center;
        margin-top: 30px;
        cursor: pointer;
    }
    
    .content button img{
        width: 15px;
        margin-left: 10px;
    }
<<<<<<< HEAD
  }
=======
  }

>>>>>>> 29600e8113c2952d664c604210c5510403153d40
